In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import joblib
import json

from sklearn.model_selection import (
    train_test_split, cross_val_score, ShuffleSplit, GridSearchCV
)
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [6]:
df = pd.read_csv("./Data/amazon_monitors_scraped_data.csv")
df.head()

,name,rating_score,rating_count,pieces_sold,price
0,SANSUI 24 Inch 100Hz FHD Monitor,4.4 out of 5 stars,775,100+ bought in past month,$94.99
1,34 Inch Ultrawide Curved Gaming Monitor,4.7 out of 5 stars,4,7K+ bought in past month,$269.99
2,Intehill Portable Monitor Touchscreen,4.5 out of 5 stars,"33,393",10K+ bought in past month,$299.00
3,Sceptre 24-inch Professional Thin 1080p LED Mo...,4.4 out of 5 stars,"8,379",10K+ bought in past month,$93.11
4,ARZOPA Portable Monitor,4.6 out of 5 stars,"4,785",10K+ bought in past month,$99.97

## EXPLORATORY ANALYSIS AND DATA CLEANING

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4915 entries, 0 to 4914
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          4914 non-null   object
 1   rating_score  3743 non-null   object
 2   rating_count  3743 non-null   object
 3   pieces_sold   1444 non-null   object
 4   price         4864 non-null   object
dtypes: object(5)
memory usage: 192.1+ KB

In [8]:
df.isna().sum()

name               1
rating_score    1172
rating_count    1172
pieces_sold     3471
price             51
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(583)

In [ ]:
df.

### Remove the pieces sold column since it contains too many null values

In [11]:
df.drop("pieces_sold", axis=1, inplace=True)

In [13]:
df.head(20)

,name,rating_score,rating_count,price
0,SANSUI 24 Inch 100Hz FHD Monitor,4.4 out of 5 stars,775,$94.99
1,34 Inch Ultrawide Curved Gaming Monitor,4.7 out of 5 stars,4,$269.99
2,Intehill Portable Monitor Touchscreen,4.5 out of 5 stars,"33,393",$299.00
3,Sceptre 24-inch Professional Thin 1080p LED Mo...,4.4 out of 5 stars,"8,379",$93.11
4,ARZOPA Portable Monitor,4.6 out of 5 stars,"4,785",$99.97
5,PHILIPS 22 inch Class Thin Full HD (1920 x 108...,4.5 out of 5 stars,"7,680",$59.98
6,MNN Portable Monitor 15.6inch FHD 1080P USB C ...,4.6 out of 5 stars,"22,894",$129.99
7,Sceptre Curved 24-inch Gaming Monitor 1080p R1...,4.6 out of 5 stars,"3,992",$69.99
8,Dell SE2422HX Monitor - 24 inch FHD (1920 x 10...,4.4 out of 5 stars,"6,658",$64.98
9,Dell S2721QS Monitor 27 Inch,4.5 out of 5 stars,"5,135",$89.98
10,"SAMSUNG 27"" T35F Series FHD 1080p Computer Mon...",4.3 out of 5 stars,289,$99.97
11,LG 34GS95QE 34-inch Ultragear OLED Curved Gami...,4.5 out of 5 stars,242,$119.99
12,KTC 32 Inch 2K Computer Monitor,4.4 out of 5 stars,744,$99.99
13,CRUA 27 Inch Gaming Monitor,4.3 out of 5 stars,"1,427",$149.99
14,32 Inch Computer Monitor,4.5 out of 5 stars,"6,427",$753.38
15,Sceptre Curved 24.5-inch Gaming Monitor up to ...,4.6 out of 5 stars,"1,977","$1,299.99"
16,Laptop Screen Extender,4.6 out of 5 stars,"13,801",$199.99
17,"Sceptre Curved 27"" FHD 1080p 75Hz LED Monitor ...",4.6 out of 5 stars,"11,921",$139.99
18,LG UltraGear QHD 27-Inch Gaming Monitor 27GL83...,4.5 out of 5 stars,"24,662",$189.99
19,"Sceptre 20"" 1600x900 75Hz Ultra Thin LED Monit...",4.6 out of 5 stars,"4,026",$149.99

In [38]:
def get_brand(name):
    return name.split()[0]

df["brand"] = df["name"].apply(lambda x: get_brand(x))

df

AttributeError: 'float' object has no attribute 'split'

In [ ]:
def get_screen_size(name):
    name = name.split("inch", "-inch", "''")